.home-wrapper {
  background: linear-gradient(
      to bottom,
      rgba($primary-color, $background-opacity),
      rgba($secondary-color, $background-opacity)
    ),
    $home-image;
  background-attachment: fixed;
  background-size: cover;

  @include respond(phone) {
    background: linear-gradient(
      to bottom,
      rgba($primary-color, $background-opacity),
      rgba($secondary-color, $background-opacity)
    );
  }

  .home {
    padding: 5rem;
    height: 100vh;

    @include respond(phone) {
      padding: 2.5rem;
    }

    &__lg-heading {
      font-size: 10rem;
      margin-top: 20vh;
      margin-left: -0.67rem;

      @include respond(phone) {
        font-size: 5rem;
        white-space: nowrap;
      }

      .secondary-text {
        color: $secondary-color;
      }
    }

    &__sm-heading {
      margin-bottom: 3rem;
      font-size: 3rem;
      background-image: linear-gradient(
        to right,
        $white-color,
        $secondary-color
      );
      -webkit-background-clip: text;
      color: transparent;
      font-weight: 500;

      @include respond(phone) {
        margin-bottom: 1rem;
        font-size: 2rem;
        white-space: nowrap;
      }
    }

    &__icon-item {
      &:link,
      &:visited {
        font-size: 5rem;
        color: $white-color;
        @include easeInOut;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@for $x from 1 through 4 {
  .menu__item.show:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
